/* @keyframes open {
  from {height: 0%;}
  to {height: 100%;}
} */


@font-face {
  font-family: "League Gothic Italic";
  src: local("LeagueGothic-Italic"),
    url("./fonts/LeagueGothic-Italic.otf") format("truetype");
  font-weight: bold;
  size-adjust: 170%;
}

body {
  overflow: visible;
  margin: 0;
  /* max-height: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "League Gothic Italic" !important
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAppBar-root {
  background-color: #00004d !important;
}

.carouselimage img {
  width:450px;
  height:480px;
}
#carouselsection {
  width:50%;
  margin: 0 auto;
}
#mangas {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#autocomplete {
  position: absolute;
  top:4em;
  z-index: 11;
  background-color: white;
  width:20%;
  right:0;
  height: 50px;
  animation-name: open;
  animation-duration: 0.5s;

}
/* .MuiAutocomplete-root {
  animation: open;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
} */

@media only screen and (max-width: 600px) {
  #autocomplete {
    position: absolute;
    top: 8em;
    width:100%;
    height: 50px;
    background-color: white;
    z-index: 11;
  }
.carouselimage img {
  width:250px;
}
#carouselsection {
  width:100%;
}
#mangas {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#mangas > div {
  margin-bottom: 30px;
}
}

#carouselbackground {
  position: absolute;
  height:500px;
  width:100%;
  background-image:         linear-gradient(
    rgba(0, 0, 0, -0.4), 
    rgba(0, 0, 0, -0.4)
  ), url('../public/sololeveling.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(3px);
  z-index: 10;
}
.MuiAutocomplete-root {
  position: absolute;
  width:100% !important;
  margin:0 !important;
  background-color: white !important;
}

#logo {
  width: 200px;
  height: 80px;
}
#chapterview img {
  width:25%;
  height:500px;
}
@media (max-width: 768px) {
  #chapterview {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
  #chapterview img {
    width:80%;
    height:400px;
  }
}




.footer-clean {
  width: 100%;
  position: relative;
  bottom:0;
  /* padding:50px 0; */
  /* background-color:#fff; */
  /* color:#4b4c4d; */
}

/* .footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
} */

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  /* color:inherit; */
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

#page img {
  width:50%;
}

@media (max-width:767px) {
  #page img {
    width:75%;
  }
}


